{% extends 'base.html' %}

{% block title %} Redesign {% endblock %}
{% block main %}
<main class="flex-fill d-flex">
	<section class="row w-100 d-flex m-0">
		<div class="col-3 d-flex flex-column list-group sidebar" id="chat-select">	
			<a class="list-group-item list-group-item-action px-4 py-4" aria-current="true">
				<div class="d-flex align-items-center justify-content-between">
				  <strong class="mb-1">First of all you need to connect</strong>
				</div>
				<div class="col mb-1 small">Then you can write msgs to anyone you want</div>
			</a>
			<a class="list-group-item py-2 d-flex justify-content-center align-items-center" tabindex="0" id="new-msg-btn">
				New message
			</a>			
		</div>
		<div class="col d-flex flex-column p-0">
			<div class="flex-fill bg-light py-3">
				<ul id="msg-space" class="overflow-auto msg-box">
					<li class="receiver-li">Nothing yet... :)</li>
				</ul>
			</div>
			<div class="flex border float-right p-0 m-0">
				<div class="row h-100 w-100  p-0 m-0">
					<textarea class="col m-0 form-control" style="min-height: 5rem;" id="msg-input" placeholder="Zpráva"></textarea>
					<button id="send-msg-btn" class="col-2 btn btn-dark h-100">Odeslat</button>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}